html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul,li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.wrap{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.wrap .slide{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.wrap .qiangtou-countdown{
    margin: 0 0.2rem;
    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #c5a023;
    overflow: hidden;
}
.wrap .qiangtou-countdown .qiangtou-date-active{
    color: #fff!important;
    background: -moz-linear-gradient(45deg, #b89419 0%, #ecc642 100%)!important; /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #b89419), color-stop(100%, #ecc642))!important; /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #b89419 0%, #ecc642 100%)!important; /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #b89419 0%, #ecc642 100%)!important; /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #b89419 0%, #ecc642 100%)!important; /* ie10+ */
    background: linear-gradient(45deg, #b89419 0%, #ecc642 100%)!important; /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc642', endColorstr='#b89419',GradientType=1 )!important; /* ie6-9 */
}
.wrap .swiper-countdown .swiper-slide{
    color: #cab467;
    text-align: center;
    font-size: 0.63rem;
    padding: 10px 0;
    width: 4.44rem!important;
    margin-right: 0.2rem!important;
    background: #e5e5e5;
    line-height: 1;
}
.wrap .swiper-countdown .swiper-slide a{
    font-size: 0.63rem;
    color: #cab467;
}
/*.wrap .swiper-countdown .swiper-slide:last-child{
    width: 6.1rem!important;
    margin-right: 0!important;
}*/
.wrap .swiper-countdown .swiper-slide p{
    font-size: 0.4rem;
    line-height: 1;
    margin-top: 0.4rem;
}
.wrap .qiangtou-list{
    padding: 0 0.2rem;
    overflow: hidden;
}
.wrap .qiangtou-list li{
    overflow: hidden;
    margin-top: 15px;
}
.wrap .qiangtou-list .cp-info{
    float: left;
    width: 7.7rem;
    font-size: 0.21333rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
.wrap .qiangtou-list .left-img{
    float: left;
    width: 10.45rem;
    height: 10.45rem;
    background: url("/template/mobile/new/static/buying/images/kuang.png") center center no-repeat;
    background-size: 100%;
    text-align: center;
    overflow: hidden;
}
.wrap .qiangtou-list .left-img img{
    width: 9.2rem;
    margin-top: 0.6rem;
}
.wrap .qiangtou-list .cp-info-title{
    padding: 0 5px;
    font-size: 0.63rem;
    font-weight: 700;
    color: #5c5b5b;
    height: 2.5rem;
    line-height: 1.5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.wrap .qiangtou-list .cp-info .biao{
    margin-top: 0.5rem;
    text-align: center;
}
.wrap .qiangtou-list .cp-info span{
    border: 1px solid #787878;
    padding: 1px 5px;
    color: #787878;
}
.wrap .qiangtou-list .cp-price{
    text-align: center;
    font-size: 0.93rem;
    line-height: 1;
    color: #b89419;
    margin-top: 1.5rem;
}
.wrap .qiangtou-list .cp-price i{
    color: #9d9d9d;
    text-decoration: line-through;
    font-size: 0.53rem;
}
.wrap .qiangtou-list .tips-sum{
    text-align: right;
    font-size: 0.53rem;
    color: #5c5b5b;
    margin-top: 0.3rem;
}
.wrap .qiangtou-list .goumai{
    width: 4.65rem;
    margin: 0 auto;
    display: block;
}
.wrap .pin-tips{
    color: #6d6e6d;
    font-size: 0.45rem;
    margin: 0 0.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #cfcfcf;
    overflow: hidden;
}
.wrap .pin-tips span{
    display: inline-block;
}
.wrap .pin-tips span:nth-of-type(2){
    float: right;
    display: flex;	justify-content:center;	align-items:Center;
}
.wrap .pin-tips span:nth-of-type(2) i{
    background: #ecc642;
    color: #fff;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    margin: 0 4px;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
