@charset "utf-8";

/* btndiv */
.btndiv{width:100%;float:left;height:42px;margin-bottom: 5px;}
.btndiv strong{float:left;padding-left:10px;padding-top:4px;}
a.abtn{display:block;width:21px;height:42px;position:absolute;overflow:hidden;background:url(../images/btn.gif) no-repeat;text-indent:-999em;outline:none;}
a.aleft{background-position:0 -70px;}
a.agrayleft{cursor:default;background-position:0 0;}
a.aright{right:10px;background-position:-97px 0px;}
a.agrayright{cursor:default;background-position:-97px -70px;}
.uldiv{padding:8px;margin:20px auto;position:relative;text-align:center;}
.scrollcontainer{width:100%;height:960px;overflow:hidden;position:relative;margin:0 auto;}
.scrollcontainer ul{position:absolute;left:0px;top:0px;}
.scrollcontainer li{height:460px;float:left;overflow: hidden;}
.gzbtn{background:url(../images/btngz.gif) no-repeat;margin:0 auto;width:100px;height:30px;display:block;border:none;text-indent:-999em;}

.scrollcontainer .logo{position: absolute;top: -50px;z-index: 999;}
.scrollcontainer .list{width: 99%;height: auto;overflow: hidden;border: 2px solid #f1f1f1;margin-bottom:5px;}
.scrollcontainer .list .thumb{float: left;border: 1px solid #fff;overflow: hidden;width:35%}
.scrollcontainer .list .thumb img{width:100%;}
.scrollcontainer .list .info{float: right;width: 64%;}
.scrollcontainer .list .info .gname{font-size: 16px;overflow: hidden;line-height: 25px;padding: 2px;height: 80px;}
.scrollcontainer .list .jiage{float: left;margin-left: 10px;height: 30px;line-height: 30px;position:relative;width: 100%;text-align: left;}
.scrollcontainer .list .jiage span{color: #ff0000;margin-right: 5px;}
.scrollcontainer .list .jiage font{font-size: 12px;color: #ccc;}
.scrollcontainer .list .jiage .li_img{position: absolute;display: block;right: 15px;height: 25px;width: 25px;background: #f23;border-radius: 50%;bottom: 8px;}
.scrollcontainer .list .jiage .li_img img{width: 100%;}